langchain
langchain-chroma>=0.1.2
langchain-google-genai
langchain-community
langchain_openai
langgraph
langchain_gemini
google-generativeai
langchain[google-genai]
langchain_experimental
pypdf
bitsandbytes
transformers
git+https://github.com/huggingface/transformers.git
